.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.welcome-screen {
  flex: 1;
  background-color: #dae5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  color: #000;
}

.welcome-image {
  width: 250px;
  margin-bottom: 20px;
}

.welcome-screen h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.welcome-screen p {
  font-size: 16px;
  max-width: 400px;
}
